<h2><i class='glyphicon glyphicon-stats'> Time-Series Analysis</i></h2>
<%= link_to 'Go Back', root_path, class: 'btn btn-primary' %>
<%= high_chart('time_chart_1', @time_chart) %>
<%= high_chart('time_chart_2', @time_chart) %>
<%= high_chart('time_chart_3', @time_chart) %>
